# build leftovers
.dep/
build/
hydrafw_version.hdr

cscope.out
hydrafwEm.cscope_file_list
hydrafwEm.depend
hydrafwEm.elay
*.o
*.d
*.dfu
*.elf
*.hex
*.map
*.hdr
/src/.settings
/src/.idea/
.vscode/
src/hydrafw_hydranfc_shield_v2 Debug.launch

/src/hydranfc_v2/rfal/doc/*.chw
